body {
  font-family: Bitstream Vera Sans, Lucida, Verdana, sans-serif;
  font-size: 90%;
  color: black;
  background: white;
}

h1, h2, h3 {
  text-align: left;
  margin-left: 18pt;
}

tt, pre, kbd {
  font-family: Bitstream Vera Sans Mono, Lucidatypewriter, Lucida Console, monospace;
}

.titlebar {
  color: black;
  background: #d1d5d7;
  border-style: none none solid none;
  border-width: thin;
}

.titlecell {
  font-family: Bitstream Vera Sans, Tahoma, Lucida, Verdana, sans-serif;
  font-size: smaller;
}

.button {
  border-style: none;
  border-width: 0;
}

.lastmod {
  font-size: smaller;
}
